@model URA_Web_.Models.Account

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Van Doren URA</title>
    <link rel="stylesheet" type="text/css" href="~/Content/home-style.css" />
</head>

<body>
    <div id="main_wrapper">
        <div id="main_wrapper_strip">
        </div>
        <div id="container">
            <div id="container_header">
                <h2>Van Doren CRM</h2>
            </div>
            <div id="wrapper">
                <div>@Html.ActionLink("[ Logout ]", "Index", null, new { @id = "logout" })</div>
                <div id="topmenu">
                    <ul>
                        <li>@Html.ActionLink("Overview", "Overview")</li>
                    </ul>
                </div>
                <div id="top-panel">
                    <div id="panel">

                    </div>
                </div>
                <div id="content">
                    <div id="box">
                        <h3 id="adduser">Edit</h3>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            @Html.HiddenFor(model => model.AccountID)
                            @Html.HiddenFor(model => model.Created)
                            @Html.HiddenFor(model => model.FirstName)
                            @Html.HiddenFor(model => model.IsActive)
                            @Html.HiddenFor(model => model.IsOnline)
                            @Html.HiddenFor(model => model.SecondName)
                            @Html.HiddenFor(model => model.Login)

                            <div class="editor-label">
                                Account name :   @Html.DisplayName(Model != null ? Model.Login : "")

                            </div>
                            <br />
                            <p><input type="checkbox" name="check"/> Update Password </p>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Password)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.ConfirmPassword)
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(model => model.ConfirmPassword)
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.URA_DBID)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.URA_DBID)
                                @Html.ValidationMessageFor(model => model.URA_DBID)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.SyntusFunction)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.SyntusFunction)
                                @Html.ValidationMessageFor(model => model.SyntusFunction)
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Capa_DBID)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Capa_DBID)
                                @Html.ValidationMessageFor(model => model.Capa_DBID)
                            </div>
                            <p>
                                <input type="submit" value="Save" />
                            </p>
                        }
                    </div>
                    <br />
                </div>
                <div id="footer">
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
